{% extends "RusticalApp/padre.html" %}

{% load static %}

{% block Changingcontent %}

<h1>  Sobre nosotros     </h1>
<br>
<p align="justify">
<h4> Nosotros somos Rustical Mushrooms: una pareja oriunda de Bogotá-Colombia, amantes de la
    comida natural y un estilo de vida saludable y equilibrado. Rustical nace de una filosofía de brindar alimento sostenible, con una huella de carbono
 muy baja y brindando posibilidades para todes de concebir y gestar una nutrición ancestral, natural y exquisita.    
</h4>
</p>

<div style="width:300; font-size:80%; text-align:center;"></div>
<div class="text-center">
<img src="{% static 'RusticalApp/assets/img/bg-mush-1.jpg' %}" alt="My image" class="rounded mx-auto d-block" alt="Responsive image" width="670" 
height="400" style="padding-bottom:0.5em;" />Setas en su habitat. Fuente de la imágen: Tom Swinnen, en Pexels
</div>
<div style="width:300; font-size:80%; text-align:center;"></div>
<div class="text-center">
<img src="{% static 'RusticalApp/assets/img/bg-bog-1.jpg' %}" alt="My image" class="rounded mx-auto d-block" alt="Responsive image" width="670" 
height="400" style="padding-bottom:0.5em;" /> Centro de Bogotá. Fuente de la imágen: Santiago Boada, en Pexels
</div>

<!--url("../assets/img/bg-masthead.jpg")-->

<!--"C:\Users\jlsan\Documents\Django_projects\Rustical_18_12\Rustical\rustical\RusticalApp\static\RusticalApp\assets\img\testimonials-1.jpg"-->
{% endblock %}