<!--Este debe llamarse igual que la clase, pero en minuscula-->
{% extends "RusticalApp/padre.html" %}

{% load static %}

{% block Changingcontent %}

<h1>  Añade una compra nueva      </h1>
<p> En esta página podrás añadir la información de una compra nueva </p>



<br>
<form action=""    method="post">{% csrf_token %} <!---esto me crea un formulario y me genra una clave o token para recibir instrucciones metodo para traer informacion-->
    <table>
        {{form.as_table}} <!--Este form es una variable que me crea automaticamente el formulario-->
    </table>
    <input type="submit" value="Modificar compra">
 </form>

 {% endblock %}