{% extends "RusticalApp/padre.html" %}

{% load static %}

{% block Changingcontent %}

<h1>  Sobre nosotros     </h1>
<br>
<p align="justify">
<h4> Si quieres ponerte en contacto con nosotres, acá te dejamos nuestra dirección de correo: Rustical_Mush@gmail.com    
</h4>
</p>

<div style="width:300; font-size:80%; text-align:center;"></div>
<div class="text-center">
<img src="{% static 'RusticalApp/assets/img/bg-mail-1.jpg' %}" alt="My image" class="rounded mx-auto d-block" alt="Responsive image" width="670" 
height="400" style="padding-bottom:0.5em;" />Buzón de entrada. Fuente de la imágen: DS stories, en Pexels
</div>


<!--url("../assets/img/bg-masthead.jpg")-->

<!--"C:\Users\jlsan\Documents\Django_projects\Rustical_18_12\Rustical\rustical\RusticalApp\static\RusticalApp\assets\img\testimonials-1.jpg"-->
{% endblock %}