{% extends "RusticalApp/padre.html" %}

{% load static %}

{% block Changingcontent %}

<h1>  Inicio  Rustical Mushrooms    </h1>
<p> Esperamos que disfrutes tu visita a la web de Rustical Mushrooms. Si deseas comprar nuestras orellanas o quieres empezar a cultivarlas, podrás hacerlo desde nuestra
    página, usando nuestro calculador de masa de sustrato y las diversas recetas para la preparación del mismo que te compartimos. </p>


<div style="width:300; font-size:80%; text-align:center;"></div>
<div class="text-center">
<img src="{% static 'RusticalApp/assets/img/bg-mush-2.jpg' %}" alt="My image" class="rounded mx-auto d-block" alt="Responsive image" width="670" 
height="400" style="padding-bottom:0.5em;" />Setas en su habitat. Fuente de la imágen: Pixabay, en Pexels
</div>

{% endblock %}